<iframe src="https://embed.spotify.com/?uri=spotify:user:128899670:playlist:5NtjgKz4doejP5HJtKXFcS" width="300" height="380" frameborder="0" allowtransparency="true"></iframe><hr>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Choose Effects
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" (click)="clickedRain()">Rain</a>
    <a class="dropdown-item" (click)="clickedFireplace()">Fireplace</a>    
  </div>
</div>
<hr>
<audio *ngIf="showRain"  controls loop="true">
  <source src="/assets/thunderstorm.mp3" type="audio/mp3">
  <source src="/assets/thunderstorm.mp3" type="audio/mpeg">    
If you are reading this, your browser does not support the audio element.
</audio>
<audio *ngIf="showFireplace"  controls loop="true">
  <source src="/assets/fireplace.mp3" type="audio/mp3">
  <source src="/assets/fireplace.mp3" type="audio/mpeg">    
If you are reading this, your browser does not support the audio element.
</audio>

