<iframe *ngIf="playlistSelected" [src]="embedURI" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe><div class="dropdown">
  <!-- <button *ngIf="!playlistDisplayed" (click)="displayPlaylist()" class="btn btn-success">Choose Your Playlist</button> -->
  <!-- <ul *ngIf="playlistDisplayed" class="list-group">
      <li *ngFor="let playlist of playlists" (click)="onPlaylistSelect(playlist)" class="list-group-item">{{playlist.name}}</li>
  </ul> -->
<div class="btn-group">
  <div class="dropdown">
      <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Choose Your Playlist
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" *ngFor="let playlist of playlists" (click)="onPlaylistSelect(playlist)">{{playlist.name}}</a>
      </div>
    </div>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{placeholder}}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" (click)="clickedRain()">Rain</a>
        <a class="dropdown-item" (click)="clickedFireplace()">Fireplace</a>    
    </div>
  </div>
</div>
<hr>
<audio *ngIf="showRain"  controls loop="true">
  <source src="/assets/thunderstorm.mp3" type="audio/mp3">
  <source src="/assets/thunderstorm.mp3" type="audio/mpeg">    
If you are reading this, your browser does not support the audio element.
</audio>
<audio *ngIf="showFireplace"  controls loop="true">
  <source src="/assets/fireplace.mp3" type="audio/mp3">
  <source src="/assets/fireplace.mp3" type="audio/mpeg">    
If you are reading this, your browser does not support the audio element.
</audio>
