<div class="jumbotron text-center">
  <h1>Studify</h1>
    <p class="lead">Welcome to Studify</p>
    <div>
      Create and account to get Started!
    </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Playlist Conversion</h3>
    <p>Convert your spotify playlist to a playlist without instrumentals when you're not feeling the lyrics!</p>
  </div>
  <div class="col-md-4">
    <h3>Background Effects</h3>
    <p>Add a crackling fire or peaceful rainfall to the backdrop of your music to set the mood!</p>
  </div>
  <div class="col-md-4">
    <h3>Playlist Generation</h3>
    <p>Getting bored with your current playlist? We'll generate a playlist for you at the click of a button!</p>
  </div>  
</div>